*.class
*.jar
.env
/.cpcache
/.dir-locals.el
/.lein-*
/.nrepl-port
/.rebel_readline_history
/checkouts
/classes
/dev/resources/**/local.edn
/dev/src/local.clj
/logs
/profiles.clj
/target
pom.xml
pom.xml.asc
.sops.yaml
