{:duct.profile/base
 {;; All profiles inherit from base.
  :duct.core/project-ns reaction.pricewatch}

 :duct.profile/dev   #duct/include "reaction/pricewatch/dev"
 :duct.profile/local #duct/include "reaction/pricewatch/local"
 :duct.profile/prod  {}

 ;; Only Duct modules should be added to the top level config.
 :duct.module/logging {}}
